
<!-- Toolbar -->
<mat-toolbar color="accent">
  <mat-icon>filter_drama</mat-icon>
  <span>Poof!</span>
  <span class="main-toolbar-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>  

</mat-toolbar>

<router-outlet></router-outlet>


<!-- <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span> -->

 <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="login" routerLinkActive="active">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item routerLink="register" routerLinkActive="active">
      <mat-icon>person_add</mat-icon>
      <span>Register</span>
    </button>
  </mat-menu> -->
