<p>home works!</p>


<div>
  <h2>{{farts.user.username}}</h2>

    <p>
      {{farts.type.name}}
      {{farts.score}}
      {{farts.smell_scale}}
    </p>
</div>


<div style="padding: 13px;">

    <mat-card style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>{{farts.type.name}}</mat-card-title>
            <mat-card-subtitle>{{farts.user.username}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Fart Score: {{farts.score}} points<br />
                Smell Level: {{farts.smell_scale}}$/10<br />
                Loudness: {{farts.noise_scale}}$/10<br />
            </p>
            <img style="height:100%; width: 100%;" src="{{ product.imageUrl }}" />
        </mat-card-content>
        <mat-card-actions>
      <button mat-button> Like</button>
    </mat-card-actions>
    </mat-card>
</div>
