
<div fxLayout='column' fxLayoutWrap class="cards">

  <div fxFlex="20" class="fart-card" *ngFor="let fart of farts.results">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="header-profile-image"></div>
        <mat-card-title>{{fart.user.username}}</mat-card-title>
        <mat-card-subtitle>{{fart.type.name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://maps.googleapis.com/maps/api/staticmap?center=Denver,CO&zoom=13&size=300x300&maptype=roadmap
         &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&key=" alt="Static map image">
      <mat-card-content>
        <p>Score: {{fart.score}}</p>
        <p>Smell: {{fart.smell_scale}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>share</mat-icon>
        </button>
        <button mat-button>
          <mat-icon>mode_comment</mat-icon>
        </button>
      </mat-card-actions>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Comments (1)
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <mat-chip-list>
            <mat-chip>That fart must have stunk</mat-chip>
          </mat-chip-list>
        </ng-template>
      </mat-expansion-panel>
    </mat-card>
  </div>
</div>
